input {
    font-size: 12px;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    border-color: #c5c5c5;
    height: 33px;
    width: 310px;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    overflow: visible;
    margin: 0;
    margin-bottom: 12px;
    &::placeholder {
        font-size: 12px;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
        border: 2px solid #ffd700;
        // background-color: #ffffff;
    }
}