// Color
$primary-color: #b6b6b6;
// Font
$font-size-title: 22px;
$font-size-default: 14px;
$font-color-supplement: #e0e0e0;
$font-color-main: #000000;
$primary-btn-color-bg: #ffd700;
$primary-btn-color-font: #4e423e;
$secondary-btn-color-bg: #eae7e7;
$secondary-btn-color-font: #8b614f;
$negative-btn-color-bg: #a0a0a0;
$negative-btn-color-font: #ffffff;