<div class="company-overview-content">
    <div class="company-overview-content-headline">
        <span class="company-overview-content-company-name">
        株式会社DEMO0
        </span>
        <span class="company-overview-content-company-address">
            本社：XXXX県XXXX町1-1-1
        </span>
    </div>
    <div class="company-overview-content-score">
        <star-rating value="4" totalstars="5" checkedcolor="#ffd900" uncheckedcolor="gray" size="24px" readonly="true"></star-rating>
        <span>83.4pt</span>
    </div>
    <div class="company-overview-content-company-detail">
        <span><img src="assets/images/icons/company.png">設立年月日：2020年4月1日</span>
        <span><img src="assets/images/icons/flag.png">上場区分：東証一部</span>
        <span><img src="assets/images/icons/gyotai.png">業態：飲食店</span>
    </div>
</div>