.company-performance-content {
    margin: 10px 16px;
    width: 1032px;
    .company-performance-content-title {
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .company-performance-content-charts {
        border: 1px solid #d6dfe5;
        padding: 6px;
        width: 1032px;
    }
}