<section class="theme-normal">
    <div mat-dialog-content class="content">
        <div class="title">評価詳細</div>
        <div class="score-detail">
            <div class="section">
                <div class="section-content">
                    <div class="table-body">
                        <p-table [columns]="columns" [value]="data" [paginator]="false" [resizableColumns]="true" columnResizeMode="expand" [scrollable]="true" [scrollHeight]="'44vh'" dataKey="RECORD_KEY">
                            <ng-template pTemplate="header" let-columns>
                                <tr class="row-header">
                                    <th *ngFor="let column of columns">
                                        {{column.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-columns="columns" let-i="rowIndex">
                                <tr class="row-body">
                                    <td *ngFor="let column of columns">
                                        <span>{{data[column.field]}}</span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" align="center">
        <secondary-button (click)="onClickClose($event)">閉じる</secondary-button>
    </div>
</section>