:host {
    display: block;
    .icon {
        padding: 0 8px;
        &::ng-deep {
            svg {
                width: 18px;
                height: 18px;
                fill: #565e65;
            }
        }
        pointer-events: none;
    }
    label {
        cursor: pointer;
        position: relative;
        &::after {
            display: inline;
            content: "";
            background-image: url("../../../../../../assets/images/icons/eye.svg");
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 10px;
            top: calc(50% - 14px);
            width: 20.25px;
            height: 18px;
        }
    }
    input:checked {
        +label {
            &::after {
                background-image: url("../../../../../../assets/images/icons/eye-slash.svg");
            }
        }
    }
}

.password {
    input {
        &.hidden {
            display: none;
        }
    }
}